* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #161616;
}
hr {
    color: #c9c9c9;
    width: 80%;
    opacity: 0.3;
    border-radius: 4px;
}

.homepage__header {
    display: flex;
    justify-content: space-between;
    height: 5vw;
}

.homepage__header__logo {
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    width: 5vw;
}

.homepage__header__logo img {
    height: 5vw;
    width: 5vw;
}

.homepage__header__logo input[type=text] {
    margin-top: 1.5vw;
    display: flex;
    position: relative;
    height: 2vw;
}

.homepage__header__title {
    color: #c9c9c9;
    text-decoration: none;
    font-family: 'Rubik-Light';
    font-size: 38px;
    position: relative;
    display: flex;
    margin: auto;
    padding-left: 1.2vw;
    right: 1vw;
    
}

.homepage__header__topics {
    margin-top: 0vw;
    padding-right: 7vw;
    display: flex;

}

.homepage__header__topics__son {
    color: #c9c9c9;
    text-decoration: none;
    font-family: 'Rubik-Light';
    padding-left: 0.2vw;
    padding-right: 2vw;
    font-size: 22px;
    margin: auto;
    right: 1vw;
}

.homepage__header__topics__son2 {
    color: #a8a8a8;
    text-decoration: none;
    font-family: 'Rubik-Light';
    padding-right: 2vw;
    padding-top: 0.3vw;
    font-size: 22px;
    margin: auto;
    right: 1vw;
    
}

.anuncio {
    height: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    color: #c9c9c9;
    font-size: 22px;
}

.homepage__spotlight {
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-around;
    display:flex;
    position: relative;

}
.homepage__spotlight img {
    width: 400px;
    height: 600px;
    display: flex;
    border: #49c249;
    border-width: 4px;
    border-style: solid;
    
}

.homepage__spotlight__son {
    color: #c9c9c9;
    text-decoration: none;
    font-family: 'Rubik-Light';
    padding-top: 2vw;
    font-size: 84px;
    margin: auto;
    padding-left: 10vw;
    
}

.homepage__spotlight__title {
    margin-left: 10vw;
    margin-right: 10vw;
    
    
}

.homepage__spotlight__title__son {
    color: #c9c9c9;
    text-decoration: none;
    font-family: 'Rubik-Light';
    font-size: 22px;
    justify-content: space-around;
    display:flex;
    position: relative;
}

.homepage__seasonT {
    width: 80.1vw;
    margin-left: 10vw;
    margin-right: 11.65vw;
    display: flex;

}

.homepage__seasonT__son {
    color: #c9c9c9;
    text-decoration: none;
    font-family: 'Rubik-Light';
    padding-top: 2vw;
    font-size: 62px;
    margin: auto;
    padding-left: 10vw;
}

.homepage__seasonT__gridbox {
    margin-top: 1vw;
    margin-left: 10vw;
    width: 80vw;
    height: 10vw;
    display: flex;
    justify-content: space-between;
}

.homepage__seasonT__gridbox__anime {
    width: 30vw;
    height: 8vw;
    display: flex;
}

.homepage__seasonT__gridbox__anime__content {
    width: 22vw;
}

.homepage__seasonT__gridbox__anime__content p {
    color: #727272;
    width: 22vw;
    height: 4vw;
    padding-top: 0.5vw;
    padding-left: 0.2vw;
}

.homepage__seasonT__gridbox__anime__title {
    color: #c9c9c9;
    width: 22vw;
    height: 1vw;
    padding-left: 0.2vw;
}

.homepage__seasonT__gridbox__anime img {
    width: 5vw;
    height: 5vw;
    border: #49c249;
    border-width: 2px;
    border-style: solid;
}

@font-face {
    font-family: 'Rubik-Light';
    src: url("Rubik-Light.ttf");
}